.wrap {
    width: 80%;
    padding-bottom: 25px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.both {
    border-radius: 20px;
    padding: 10px 0 8px 0;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.follow {
    background: #5EB5E6;
    color: #fff;
}

.connect {
    background: #fff;
    color: #5EB5E6;
    border: 1px solid #5EB5E6;
}

.dropdown {
    font-size: 17px;
    margin-left: 3px;
    position: absolute;
    top: 68px;
}